.logo-login {
    height: 100px;

}
.login-button {
    width: 357px;
    height: 67px;
    left: 50%;
}

.login-btn {
    margin-top: 235px;
    margin-bottom: 50px;
}
.header-text {
    font-family: 'Open Sans', sans-serif;
    color: white;
}
.footer-login {
    /* position: absolute; */
}


